<h1>Bienvenue <%= @user.username %></h1>

<% if @user.bio != "" %>
  <p>
    Voici votre bio :
    <em>"<%= @user.bio %>"</em>
<% end %>

<%= form_tag "/new/#{@user.id}", method: "patch" do %>
  <input type="text" name="bio">
  <input type="submit" value="Modifier votre bio">
<% end %>
</p>

<p>
  Voici votre adresse e-mail :
  <%= @user.email %>
</p>

<a href="../new">Revenir vers les profils</a>

<%= form_tag "/new/#{@user.id}", method: "delete" do %>
  <input type="submit" value="Suppimer le profil">
<% end %>
